rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /feedback_images/{imageId} {
      allow create: if request.resource.size < 15 * 1024 * 1024
                        && request.resource.contentType.matches('image/.*');

      allow read;

      allow update, delete: if false;
    }

    match /announcements/{fileName} {
      allow read: if true;

      allow create, update, delete: if false;
    }
  }
}
